*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary--color: #0e9384;
  --secondary--color: #ffeeeb;
  --background--color: white;
  --foreground--color: black;
  --spacing: 0.25rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.container {
  width: 1200px;
  max-width: calc(100% - 12rem);
  margin: 0 auto; /* center the container by use margin top and bottom 0 and left and right auto*/
}

a {
  text-decoration: none; /* remove the underline of the link*/
}

.btn {
  background-color: var(--primary--color);
  border-radius: 50px;
  padding: 13px 17px;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
}

/* =================================== header =============================== */

.header {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 950px;
  height: 49px;
  padding: 30px 10px;
  background-color: #ffffff80;
  backdrop-filter: blur(25px);
  border: 1px solid #fff;
  border-radius: 0.75rem;
  z-index: 1000;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav__link {
  color: var(--foreground--color);
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
}

.nav__link--active {
  color: var(--primary--color);
}

.nav__link:hover {
  color: var(--primary--color);
}

.header__cta {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 3);
}

.header__language {
  width: 55px;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 3px 4px;
  border-radius: 50px;
}

.header__language--btn {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 3);
}

/* ========================== main ============================ */
.main {
  position: relative;
}

.main__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

.main__bg--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
